@charset "UTF-8";

:root {
  --cor1: #49a09d;
  --cor2: #5f2c82;
  --cor3: white;
  --cor4: black;

  --fonte1: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

* {
  font-family: var(--fonte1);
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}

body, html {
  background-color: var(--cor2);
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {

  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);

  overflow: hidden;

  background-color: var(--cor3);
  width:250px;
  height: 515px;
  border-radius: 20px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);

  transition: width 0.3s, hieght 0.3s;
  transition-timing-function: ease;
}

section#login > div#imagem {
  display: block;
  background: var(--cor2) url(../imagens/pexels-scottwebb-139198.jpg);
  background-position: left bottom;
  background-size: cover;
  height: 200px;
}

section#login > div#formulario {
  padding: 10px;
  display: block;
}

div#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#formulario > p {
  font-size: 0.8em;
}

form > input[type=submit] {
  display: block;
  font-size: 1em;
  width: 100%;
  background-color: var(--cor1);
  color: var(--cor3);
  border: none;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
}

form > input[type=submit]:hover {
  background-color: #2d6462;
  cursor: pointer;
}

form > div.campo {
  background-color: var(--cor2);
  width: 100%;
  height: 40px;
  border-radius: 8px;
  margin: 5px 0px;
  display: flex; /* Usar flexbox para alinhar os elementos */
  align-items: center; /* Centralizar verticalmente */
  border: 2px solid var(--cor2);
}

div.campo > label {
  display: none;
}

div.campo > span {

  color: white;
  font-size: 2em;
  width: 40px;
  height: 100%; /* Ajustar à altura do campo */
  display: flex;
  align-items: center;
  justify-content: center;
}

div.campo > input {
  background-color: #94cfcd;
  font-size: 1em;
  width: 100%; /* Ocupa todo o espaço disponível */
  height: 100%;
  border: 0;
  border-radius: 8px;
  padding: 0 10px; /* Espaçamento interno */
  box-sizing: border-box; /* Inclui padding no cálculo da largura */
}

div.campo > input:focus-within {
  background-color: white;
}

form > a.botao {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  padding-top: 5px;
  margin-top: 5px;
  background-color: var(--cor3);
  border: 1px solid var(--cor1);
  color: #2d6462 ;
  border-radius: 5px;
  text-decoration: none;
}

form > a.botao:hover {
  background-color: #6cd3cf;
  color: var(--cor3);
  cursor: pointer;
}

form > a.botao > span {
  font-size: 0.8em;
  text-align: center;
  margin-left: 5px;
}